body {
    font-family: Verdana, monospace, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
    min-height: 100vh;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
header {
    width: 90%;
    height: auto;
    margin: 15px auto;
    padding: 10px;
    background-color: rgb(82, 101, 99);
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
    text-decoration: none;
}
header a {
    text-decoration: none;
    color: white;
}
h1 {
    width: fit-content;
    height: auto;
    background-color: rgb(66, 76, 75);
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    border-radius: 8px;
}
p {
    width: 90%;
    height: auto;
    text-align: center;
    font-size: 18px;
    background-color: #555;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}
#uploadBox {
    width: 90%;
    height: 200px;
    border: 2px dashed #325d50;
    border-radius: 5px;
    margin: 20px auto;
    float: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #444;
    user-select: none;
}
#uploadBox.dragover {
    background-color: #666;
    border-color: #fff;
}
.input-group {
    margin: 20px auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.input-group input {
    width: 45%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444;
    color: white;
}
.image-preview {
    max-width: 90%;
    display: block;
    margin: 10px auto;
}
.preview-container {
    position: relative;
    margin-bottom: 20px;
}
.download-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
.download-btn:hover {
    background-color: #0056b3;
}
.preview-container .download-btn {
    top: 5%;
    right: 8%;
}
.clear-btn {
    padding: 10px 20px;
    background-color: #dc3545;
    margin: 20px auto;

    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}
.clear-btn:hover {
    background-color: #c82333;
}