*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(140, 156, 150);
    width: 100%;
    height: auto;
}
header{
    width: 90%;
    height: auto;
    margin: 15px auto;
    padding: 10px;
    background-color: rgb(82, 101, 99); 
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
main{
    width: 90%;
    height: auto;
    margin: 15px auto;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 5px;
}
h2{
    text-align: center;
    padding-top: 10px;
}
.links{
    width: 90%;
    height: auto;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.linkA{
    width: 15%;
    aspect-ratio: 1/1;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.linkA a{
    padding: 10px;
    border-radius: 5px;
    color: rgb(42, 61, 91);
    text-decoration: none;
    font-size: 25px;
    background-color: rgb(209, 226, 226);
}
footer{
    width: 90%;
    height: auto;
    margin: 15px auto;
    padding: 10px;
    background-color: rgb(82, 101, 99); 
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
}
@media (min-width: 1025px) {
    .linkA{
        width: 5%;
    }
    .linkA a{
        padding: 12%;
        height: 30px;
    }
}
@media (max-width: 800px) {
    .linkA{
        padding: 5%;
    }
}
@media screen and (max-width:720px) {
  #cookiebanner a.c-button { 
    width:100%; 
    box-sizing:border-box; 
    text-align:center; 
    margin-bottom:20px;} 
  #c-right { 
    float:none;
  }
  #c-left { 
    float:none;
  }   
  #cookiebanner p.c-message { 
    margin-bottom:20px;
  }   
}    

@media screen and (min-width:720px) {
  #cookiebanner #c-left { 
    float:left; 
    max-width:80%;
  }
  #cookiebanner #c-right { 
    float:right; 
  }
}

#cookiebanner { 
  box-sizing: border-box; 
  background-color:rgb(36,36,39); 
  opacity: 0.9; width:100%; 
  padding:25px 40px; 
  position: fixed; 
  z-index: 2147483645; 
  bottom:-800px
}
#cookiebanner p { 
  font-size:14px; 
  line-height:1.4;
}
#cookiebanner .c-header { 
  text-transform:uppercase; 
  color:#fff; 
  font-weight:bold; 
  margin-bottom:4px;
}
#cookiebanner p.c-message {
  font-size:14px; 
  color:#999;
}
#cookiebanner a { 
  font-weight:bold; 
  color:#999;
}
#cookiebanner a:hover { 
  color:#fff;
}

#cookiebanner a.c-button { 
  border-radius: 4px;
  background-color: rgb(255,255,255);
  box-shadow: 0 2px 0 0 rgb(221,221,221);
  border:1px solid rgb(221,221,221);
  padding:12px 60px;
  text-decoration:none;
  display:inline-block;
  vertical-align:middle;
  margin-top:10px;
  color:#666;
  font-size:16px;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

#cookiebanner a.c-button:hover { 
  box-shadow:none; 
  background-color:#f8f8f8;
}
