*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #222;
    color: #fff;
    width: 100%;
    height: auto;
    font-family: sans-serif;
    word-wrap: break-word;
}
header{
    width: 90%;
    height: auto;
    margin: 15px auto;
    padding: 10px;
    background-color: rgb(82, 101, 99); 
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
    text-decoration: none;
}
header a{
    text-decoration: none;
    color: white;
}

main{
    width: 90%;
    height: auto;
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #222627;
    overflow: auto;
}
.kodAlan {
    font-size: 16px;
    font-family: Menlo, Monaco, "Courier New", monospace;
    line-height: 20px;
    border: 1px solid #444;
    padding: 10px;
    margin: 20px 0;
    background-color: #1F1F1F;
    overflow: auto;
    white-space: pre;
}
h1{
    width: fit-content;
    text-align: center;
    margin: 25px auto;
    padding: 5px;
    background-color: #444;
    border-radius: 5px;
    letter-spacing: 2px;
}
h2{
    width: fit-content;
    text-align: center;
    margin: 25px auto;
    padding: 5px;
    background-color: #444;
    border-radius: 5px;
    letter-spacing: 2px;
}
h3{
    width: fit-content;
    text-align: center;
    margin: 20px auto;
    padding: 5px;
    background-color: #444;
    border-radius: 5px;
    letter-spacing: 2px;
}
ul{
    margin-left: 15px;
    margin-top: 0px;
    padding-left: 5px;
}
li{
    font-size: 20px;
    padding: 0px 5px 8px 0px;
    line-height: 30px;
    letter-spacing: 1px;
}
li a{
    color: white;
    text-decoration: none;
    background-color: #3c3d3e;
    padding: 5px;
}
li a:hover{
    background-color: #4b5056;
}
p{
    font-size: 20px;
    margin: 20px 0;
    line-height: 35px;
}
p a{
    color: #81a39d;
}
#kodAlan{
    font-size: 16px;
    color: #b5c3c8;
    white-space: pre-wrap;
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 14px;
    line-height: 21px;
}
#a0{
    color: #6a9955;
}
#a1{
    color: #569cd6;
}
#a2{
    color: #d4d4d4;
}
#a3{
    color: #b5cea8;
}
#a4{
    color: #dcdcaa;
}
#a5{
    color: #9cdcfe;
}
#a6{
    color: #c586c0;
}
#a7{
    color: #4fc1ff;
}
#a8{
    color: #ce9178;
}
#a9{
    color: #4ec9b0;
}
button {
    margin-top: 5px;
    background-color: #36413f;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
#copyMessage {
    display: none;
    margin-left: 10px;
    color: #5fb573;
    background-color: #515e5433;
    padding: 5px;
    border-radius: 3px;
}
img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}
#ytv{
    margin: 30px 0;
    height: auto;
}
#sonraki{
    text-align: right;
    font-size: 25px;
    margin-top: 35px;
}
#sonraki a{
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color:white;
    background-color: #3b3b3b;
}
#sonraki a:hover{
    background-color: #596571;
}

footer{
    width: 90%;
    height: auto;
    margin: 15px auto;
    padding: 10px;
    background-color: rgb(82, 101, 99); 
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
}
