*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(140, 156, 150);
    width: 100%;
    height: auto;
}
header{
    width: 90%;
    height: auto;
    margin: 15px auto;
    padding: 10px;
    background-color: rgb(82, 101, 99); 
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
header a{
    text-decoration: none;
    color: white;
}
main{
    width: 90%;
    height: auto;
    margin: 15px auto;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 5px;
}
h1{
    text-align: center;
}
ul{
    margin: 10px;
    padding-left: 5px;
}
li{
    font-size: 25px;
    padding-top: 25px;
}
footer{
    width: 90%;
    height: auto;
    margin: 15px auto;
    padding: 10px;
    background-color: rgb(82, 101, 99); 
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
}